# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# build folder
build/

#documentation folder
html/

# kdev projects
*.kdev4
.kdev_include_paths

# temp
*~

#other files
*.orig
*.user
